<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/auth/auth.css">
    <title>Click2Live</title>

</head>
<body>
<div class="login-container">
    <h1>Click2Live</h1>
    <button class="google-btn" onclick="signInWithGoogle()">
        <img src="./static/icon/google.png" alt="Google logo" class="google-icon">
        <span>Login by Google</span>
    </button>
</div>

<script>
    function signInWithGoogle() {
        window.location.href = `/v1/auth/google`
    }
</script>
</body>
</html>