body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.item-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b2ebf2;
    padding: 20px;
}

.scores {
    background-color: #e0f7fa;
    padding: 20px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.item {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.item:hover {
    transform: translateY(-5px);
}

img {
    cursor: pointer;
    width: 150px;
    height: 150px;
    transition: transform 0.1s, box-shadow 0.1s;
    border-radius: 50%;
}

img:active {
    transform: scale(0.95);
}

.highlight {
    border: 5px solid #ffd700;
    box-shadow: 0 0 15px #ffd700;
}

.scores p {
    margin: 5px 0;
    color: #006064;
    font-weight: bold;
    text-align: center;
}

#user-scores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#user-scores p {
    background-color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}